/*
 * Rotkx Font (Lao) rotkx.blogspot.com
 */
@font-face {
  font-family: 'Rotkx Font';
  font-style: normal;
  font-weight: 400;
  src: url(//www.mediafire.com/file/fqy5tguhmh4dhpl/NotoSansArabic-Medium.ttf);
  src: url(//www.mediafire.com/file/fqy5tguhmh4dhpl/NotoSansArabic-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Rotkx Font';
  font-style: normal;
  font-weight: 500;
  src: url(//www.mediafire.com/file/bhybk61j0l1dven/NotoSansArabic-Regular.ttf);
  src: url(//www.mediafire.com/file/bhybk61j0l1dven/NotoSansArabic-Regular.ttf) format('truetype');
}
